<br>
  <br>
  <br>
  <table align="center">
        <tr>
            <th>
                <a href="{% url 'schedule'  %}">
                 <button type="submit" class="btn btn-danger">Schedule New Classes</button>
                </a>
            </th>
            <th width="50"></th>
            <th>
                <a href="{% url 'viewschedule' %}">
                 <button type="button" class="btn btn-danger">View All Scheduled Classes</button>
                </a>
            </th>
            <th width="50"></th>
            <th>
               <a href="{% url 'home' %}">
                 <button type="button" class="btn btn-warning">Logout</button>
               </a>
            </th>
        </tr>
  </table>
