<table align="center">
        <tr align="center" style="color: white;background-color: blue;size: 15px">
            <th width="800"height="50"colspan="5">Student Page</th>
        </tr>
        <tr align="center">
            <th>
                <a href="#">
                 <button type="button" class="btn btn-success btn-lg">Enroll The Course</button>
                </a>
            </th>
            <th>
                <a href="#">
                 <button type="button" class="btn btn-primary btn-lg">View The Enrolled Courses</button>
                </a>
            </th>
            <th>
                <button type="button" class="btn btn-success btn-lg">Cancel The Enrolled Courses</button>
            </th>
            <th>
                <a href="{% url 'home' %}">
                 <button type="button" class="btn btn-primary btn-lg">Logout</button>
                </a>
            </th>
        </tr>
     </table>